@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e7e8e9;
  color: #292929;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.01em;
}

ul {
  list-style: none;
}

input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button {
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
